Desenv/Fontes/Backup/Web References/wsmicrosiga.utilagility/WSUTILAGILITY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://10.230.2.42:91/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://10.230.2.42:91/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.230.2.42:91/">
      <s:element name="WEBGETMV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TOKEN" type="s0:TKNSTRUCT" />
            <s:element minOccurs="1" maxOccurs="1" name="NOMEPARAMETRO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEBGETMVRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WEBGETMVRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TKNSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CONTEUDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESAFILIAL" type="s0:EMPFILIALSTRUCT" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAGEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODULO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SENHA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SESSIONID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPFILIALSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILPAR" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="WEBGETMVSOAPIN">
    <part name="parameters" element="s0:WEBGETMV" />
  </message>
  <message name="WEBGETMVSOAPOUT">
    <part name="parameters" element="s0:WEBGETMVRESPONSE" />
  </message>
  <portType name="WSUTILAGILITYSOAP">
    <operation name="WEBGETMV">
      <documentation>Executa a Funcao GetMV</documentation>
      <input message="s0:WEBGETMVSOAPIN" />
      <output message="s0:WEBGETMVSOAPOUT" />
    </operation>
  </portType>
  <binding name="WSUTILAGILITYSOAP" type="s0:WSUTILAGILITYSOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="WEBGETMV">
      <soap:operation soapAction="http://10.230.2.42:91/WEBGETMV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSUTILAGILITY">
    <documentation>Funcoes Utilitarias do Microsiga</documentation>
    <port name="WSUTILAGILITYSOAP" binding="s0:WSUTILAGILITYSOAP">
      <soap:address location="http://10.230.2.42:91/WSUTILAGILITY.apw" />
    </port>
  </service>
</definitions>