Desenv/Fontes/Backup/Web References/wsmicrosiga.ordemservico/WSORDEMSERVICO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://10.230.2.42:91/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://10.230.2.42:91/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.230.2.42:91/">
      <s:element name="ALTERAR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TOKEN" type="s0:TKNSTRUCT" />
            <s:element minOccurs="1" maxOccurs="1" name="FICHAORDEMSERVICO" type="s0:FICHAORDEMSERVICOSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ALTERARRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ALTERARRESULT" type="s0:RETSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ATENDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TOKEN" type="s0:TKNSTRUCT" />
            <s:element minOccurs="1" maxOccurs="1" name="FICHAATENDIMENTO" type="s0:FICHAATENDIMENTOSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ATENDERRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ATENDERRESULT" type="s0:RETSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INCLUIR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TOKEN" type="s0:TKNSTRUCT" />
            <s:element minOccurs="1" maxOccurs="1" name="FICHAORDEMSERVICO" type="s0:FICHAORDEMSERVICOSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INCLUIRRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INCLUIRRESULT" type="s0:RETSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INCLUIROS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TOKEN" type="s0:TKNSTRUCT" />
            <s:element minOccurs="1" maxOccurs="1" name="FICHAORDEMSERVICO" type="s0:FICHAORDEMSERVICOSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INCLUIROSRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INCLUIROSRESULT" type="s0:RETSTRUCT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FICHAATENDIMENTOSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="APROVADO2ATENDIMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APROVADOATENDIMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLOQUEIOATENDIMENTO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CAUSAPROVAVEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGODEFEITO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOGARANTIA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOOCORRENCIA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOSERVICO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOSITUACAO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOTECNICO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATAFIM" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="DATAINICIO" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="DEFEITOCONSTATADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HORAFIM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HORAINICIO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="INCLUIITEMOS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ITENS" type="s0:ARRAYOFITEMATENDIMENTOSTRUCT" />
          <s:element minOccurs="1" maxOccurs="1" name="MODOATENDIMENTO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROATENDIMENTOOS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROSERIEEQUIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDEMSERVICO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEQUENCIAATENDIMENTOOS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SERVICOEXECUTADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRASLADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOATUAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOSOFTWARE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FICHAORDEMSERVICOSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CHAMADOOS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGOCLIENTE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CONTATO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ITENS" type="s0:ARRAYOFITEMORDEMSERVICOSTRUCT" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMEROCHAMADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMEROORDEMSERVICO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMEROOSPARC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TELEFONE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TIPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPOORDEMSERVICO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RETSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CHAVE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGO" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="MENSAGEM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SUCESSO" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TKNSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CONTEUDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESAFILIAL" type="s0:EMPFILIALSTRUCT" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAGEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODULO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SENHA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SESSIONID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ITEMATENDIMENTOSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOPRODUTONOVO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="D_E_L_E_T_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMEROITEM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROLOTE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROSERIENOVO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROSERIEPECAS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QUANTIDADE" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ITEMORDEMSERVICOSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOCLASSIFICACAO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGOETAPA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOOCORRENCIA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOPRODUTO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOSITUACAO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOSTATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMENTARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="D_E_L_E_T_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMEROITEM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROSERIE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPFILIALSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILPAR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFITEMATENDIMENTOSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ITEMATENDIMENTOSTRUCT" type="s0:ITEMATENDIMENTOSTRUCT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFITEMORDEMSERVICOSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ITEMORDEMSERVICOSTRUCT" type="s0:ITEMORDEMSERVICOSTRUCT" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="ALTERARSOAPIN">
    <part name="parameters" element="s0:ALTERAR" />
  </message>
  <message name="ALTERARSOAPOUT">
    <part name="parameters" element="s0:ALTERARRESPONSE" />
  </message>
  <message name="ATENDERSOAPIN">
    <part name="parameters" element="s0:ATENDER" />
  </message>
  <message name="ATENDERSOAPOUT">
    <part name="parameters" element="s0:ATENDERRESPONSE" />
  </message>
  <message name="INCLUIRSOAPIN">
    <part name="parameters" element="s0:INCLUIR" />
  </message>
  <message name="INCLUIRSOAPOUT">
    <part name="parameters" element="s0:INCLUIRRESPONSE" />
  </message>
  <message name="INCLUIROSSOAPIN">
    <part name="parameters" element="s0:INCLUIROS" />
  </message>
  <message name="INCLUIROSSOAPOUT">
    <part name="parameters" element="s0:INCLUIROSRESPONSE" />
  </message>
  <portType name="WSORDEMSERVICOSOAP">
    <operation name="ALTERAR">
      <documentation>Método de alteração</documentation>
      <input message="s0:ALTERARSOAPIN" />
      <output message="s0:ALTERARSOAPOUT" />
    </operation>
    <operation name="ATENDER">
      <documentation>Método de atualização</documentation>
      <input message="s0:ATENDERSOAPIN" />
      <output message="s0:ATENDERSOAPOUT" />
    </operation>
    <operation name="INCLUIR">
      <documentation>Método de geração</documentation>
      <input message="s0:INCLUIRSOAPIN" />
      <output message="s0:INCLUIRSOAPOUT" />
    </operation>
    <operation name="INCLUIROS">
      <documentation>Método de geração</documentation>
      <input message="s0:INCLUIROSSOAPIN" />
      <output message="s0:INCLUIROSSOAPOUT" />
    </operation>
  </portType>
  <binding name="WSORDEMSERVICOSOAP" type="s0:WSORDEMSERVICOSOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ALTERAR">
      <soap:operation soapAction="http://10.230.2.42:91/ALTERAR" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ATENDER">
      <soap:operation soapAction="http://10.230.2.42:91/ATENDER" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="INCLUIR">
      <soap:operation soapAction="http://10.230.2.42:91/INCLUIR" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="INCLUIROS">
      <soap:operation soapAction="http://10.230.2.42:91/INCLUIROS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSORDEMSERVICO">
    <documentation>Serviços de Relacionados a Ordem de Serviço</documentation>
    <port name="WSORDEMSERVICOSOAP" binding="s0:WSORDEMSERVICOSOAP">
      <soap:address location="http://10.230.2.42:91/WSORDEMSERVICO.apw" />
    </port>
  </service>
</definitions>